body {
  font-family: "Poiret One", cursive;
}

.backgroundNight {
  background: linear-gradient(rgb(52, 102, 174) 0%, rgb(83, 144, 241) 100%);
}

.backgroundDay {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(137, 247, 254) 0%,
    rgb(102, 166, 255) 90%
  );
}

.title {
  font-family: "Cabin Sketch", cursive;
  padding: 20px 0;
  margin: 0;
  font-size: 90px;
}
.city {
  display: block;
  margin: 0;
  padding: 16px 0;
  width: 670px;
}

.today {
  text-align: center;
}

.currentDate {
  text-align: left;
  font-size: 18px;
}
.currentCity {
  text-align: left;
  font-size: 34px;
}
.currentWeather {
  font-size: 20px;
}
.emoji {
  font-size: 45px;
}
.forecast {
  padding: 20px;
  text-align: center;
}
.forecastDay {
  border: 1px solid #f1f4f6;
  border-radius: 50px;
  padding-top: 15px;
  margin-right: 15px;
}

.weatherDetails {
  margin-top: 70px;
}

#search {
  position: relative;
  left: -20px;
}
#weather-forecast-min-temp {
  color: rgba(0, 0, 0, 0.295);
}
