body {
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
  font-family: "Poiret One", cursive;
}
.title {
  font-family: "Cabin Sketch", cursive;
  padding: 20px 0;
  margin: 0;
  font-size: 90px;
}
.city {
  display: block;
  margin: 0;
  padding: 16px 0;
  width: 670px;
}

.today {
  text-align: center;
}

.currentDate {
  text-align: left;
  font-size: 18px;
}
.currentCity {
  text-align: left;
  font-size: 34px;
}
.currentWeather {
  font-size: 20px;
}
.emoji {
  font-size: 45px;
}
.forecast {
  padding: 20px;
  text-align: center;
}
.forecastDay {
  border: 1px solid #5acbf0;
  border-radius: 50px;
  padding-top: 15px;
  margin-right: 15px;
}

.weatherDetails {
  margin-top: 94px;
}
.currentWeather .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

#current-celsius,
#current-fahrenheit {
  font-size: 20px;
}

#weather-forecast-min-temp {
  color: coral;
}
